@import "Inter.css";

.sales_list_container {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Inter 18pt";
    -fx-text-fill: #111111;
}

.sales_list_container_title {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.product_table {
    -fx-background-color: transparent;
}

.product_table .column-header {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 18;
}

.product_table .column-header .label {
    -fx-alignment: center-left;
}

.product_table .table-cell {
    -fx-padding: 10 0;
}