@import "Inter.css";

Button:hover {
    -fx-cursor: hand;
}

.side_bar_container {
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 10;
    -fx-spacing: 20;
    -fx-font-family: "Inter 18pt";
    -fx-font-weight: bold;
    -fx-text-fill: #111111;
    -fx-alignment: top-center;
}

.side_bar_container Button {
    -fx-background-color: #EE0004;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-alignment: center-left;
    -fx-pref-height: 35;
    -fx-background-radius: 8;
}

.side_bar_container FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.logo_container {
    -fx-background-color: linear-gradient(to right, #EE0004, #9A0103);
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-fill: #FFFFFF;
}

.logo_container Text {
    -fx-fill: #FFFFFF;
}

.control_container {
    -fx-padding: 10 20 10 14;
    -fx-spacing: 30;
}

.control_container VBox {
    -fx-spacing: 20;
    -fx-padding: 15 14;
    -fx-font-size: 18;
    -fx-border-width: 0;
    -fx-background-color: #DDDDDD;
    -fx-background-radius: 8;
}

.control_container VBox FontAwesomeIconView {
    -fx-fill: #757575;
}

.control_container VBox Button FontAwesomeIconView {
    -fx-fill: #2C2C2C;
}

.control_container VBox Button {
    -fx-text-fill: #111111;
    -fx-background-color: #EEEEEE;
    -fx-pref-width: 160;
    -fx-pref-height: 40;
}
